{% extends 'base.html'%} {% block head %}
<title>Main Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <!-- User Area -->
    <div class="user_area">
        <section class="section_content">
            <h2>User Area</h2>
            User Name: {{ user['user_name'] }}
        </section>
    </div>

    <!-- Subscription Area -->
    <div class="subscription_area">
        <section class="section_content">
            <h2>Subscription Area</h2>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Image</th>
                    <th>Remove</th>
                </tr>
                {% for item in subs %}
                <tr>
                    <td>{{item['title']}}</td>
                    <td>{{item['artist']}}</td>
                    <td>{{item['year']}}</td>
                    <td>image</td>
                    <td><a href="{{ url_for('remove_sub', title=item['title']) }}">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>

    <!-- Query Area -->
    <div class="query_area">
        <h2>Query Area</h2>
    </div>
</div>
{% endblock %}