{% extends 'base.html'%}

{% block head %}
<title>Register Page</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form name="register_form" action="register" method="post">
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required /><br>
            <input type="text" class="form-control" name="user_name" placeholder="User name" required /><br>
            <input type="password" class="form-control" name="pw" placeholder="Password" required /><br>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <a href="{{ url_for('main') }}">Go back</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

{% endblock %}